.header {
	margin-bottom: 2rem;
}

.heatmapsContainer {
	display: flex;
	justify-content: space-around;
}

.heatmap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heatmapLabel {
	margin-top: 2rem;
}
