.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;

	@at-root {
		h2#{&} {
			margin: 0;
		}

		h1#{&} {
			margin-top: 0;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.usernameGroup,
.password,
.rememberContainer {
	margin-bottom: 0.5rem;
}

.usernameGroup {
	max-width: var(--cronch-input-width);
	display: flex;
}

.usernameGroupInput {
	flex-grow: 1;
	flex-shrink: 1;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.usernameGroupLabel {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--neutral-500);
	color: var(--neutral-100);
	border-top-right-radius: var(--cronch-border-radius);
	border-bottom-right-radius: var(--cronch-border-radius);
}

.rememberContainer {
	display: block;
}

.rememberInput {
	margin-right: 0.5rem;
}

.login {
	align-self: center;
}
