/**
* index.scss
* - Add any styles you want here!
*/
$gradient: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);

$break-small: 576px;

$break-medium: 1024px;

body {
	font-family: 'Nunito';
	overflow: hidden;
}

.background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background-image: $gradient;
	height: 100vh;
	width : 100vw;
}

.btn {
	color: white;
	text-transform: uppercase;
	box-shadow: none !important;
}

.btn-primary {
	background-image: $gradient;
	border: none;
}

.not-bootstrap-container {
	overflow: hidden;
	height: 200vh;
	.jumbotron-thing {
		height: 88vh;
		width: 120%;
		background-color: white;
		box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
		transform-origin: 0 100%;
		transform: rotate(-5deg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.big-title {
			transform: rotate(5deg);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.rotato {
				position: absolute;
				width: 40em;
				left: -15rem;
				top: 10rem;
				z-index: -1;
			}
			@media screen and (min-width: $break-medium) {
				.rotato {
					left: -30rem;
					top: -7rem;
					width: 40rem;
				}
			}
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 1em;
				.logo-image {
					height: 5em;
					width: 5em;
					margin-right: 0.5em;
				}
				.logo-text {
					font-weight: 100;
					font-size: 5em;
					margin-bottom: 0;
				}
				@media screen and (min-width: $break-small) {
					.logo-text {
						font-weight: 100;
						font-size: 10em;
					}
					.logo-image {
						height: 10em;
						width: 10em;
						margin-right: 1.5em;
					}
				}
			}
			.download{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.download-button {
					height: 4rem;
					width: 14rem;
					border-radius: 3em;
					font-size: 1em;
				}
				.download-platforms {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					max-height: 6rem;
					margin-top: 1em;
					.apple, .android {
						width: 8rem;
						padding: 0.1rem;
						&:hover {
							cursor: pointer;
						}
					}
				}

				@media screen and (min-width: $break-small) {
					flex-direction: row;
					.download-platforms {
						margin-top: 0;
					}
					.download-button {
						height: 6rem;
						width: 20rem;
						border-radius: 3em;
						font-size: 1.5em;
					}
				}
			}
		}
	}
}


